<div class="uk-card uk-card-default uk-card-body nav">
    <ul class="uk-nav-default" uk-nav>
        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/main/map">
                <span class="icon" uk-icon="icon: world"></span>
                <span class="uk-margin-small-left">Мапа</span>
            </a>
        </li>

        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/main/list">
                <span class="icon" uk-icon="icon: file-text"></span>
                <span class="uk-margin-small-left">Власні записи</span>
            </a>
        </li>

        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/main/profile">
                <span class="icon" uk-icon="icon: user"></span>
                <span class="uk-margin-small-left">Профіль</span>
            </a>
        </li>

        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/main/home">
                <span class="icon" uk-icon="icon: info"></span>
                <span class="uk-margin-small-left">Про проект</span>
            </a>
        </li>

        <li class="uk-margin-small">
            <a (click)="signOut()">
                <span class="icon" uk-icon="icon: sign-out"></span>
                <span class="uk-margin-small-left">Вийти</span>
            </a>
        </li>
    </ul>
</div>
