<div uk-grid>
    <div class="uk-margin uk-width-3-4 uk-flex" fxLayout="column" >
        <!-- <app-input-text class="uk-margin" text="Місце" [formControl]="location"></app-input-text> -->
        <div class="uk-inline">
            <input #addressInput class="uk-input uk-margin" placeholder="Місце" [formControl]="location">
            <div uk-dropdown="mode: hover" class="uk-overlay uk-width-expand uk-padding-small">
                <div style="max-height: 110px; overflow-y: auto;">
                    <div *ngFor="let location of suggestedLocations$ | async" 
                        class="pointer location-text" 
                        (click)="selectLocation(location)">
                        {{ location }}
                    </div>
                    <div *ngIf="!addressesNear.length">Місць поруч не знайдено</div>
                </div>
            </div>
        </div>
        <div class="uk-overflow-auto" style="max-height: 110px;">
            <textarea 
                class="uk-textarea" 
                rows="3"
                [formControl]="text"
                placeholder="Опис">
            </textarea>
            <div>
                <div *ngFor="let tag of tags" class="uk-label uk-label-warning uk-margin-right" style="font-size: 12px;">
                    {{ tag }} 
                    <button type="button" uk-icon="icon: close; ratio: 0.8" (click)="deleteTag(tag)" style="color: white;"></button>
                </div>
            </div>
        </div>

    </div>
    <div class="uk-width-1-4 uk-flex uk-flex-column">
        <!-- <span class="uk-icon-link uk-icon-button pointer" uk-icon="icon: image"></span> -->
        <div class="uk-flex uk-flex-around">
            <img class="pointer" (click)="changeRecommendation(true)" [ngClass]="{'opacity-05': !recommended}" src="assets/icons/thumb_up.svg">
            <img class="pointer" (click)="changeRecommendation(false)" [ngClass]="{'opacity-05': recommended}" src="assets/icons/thumb_down.svg">
        </div>    
        <input class="uk-input uk-margin uk-border-pill uk-width-small uk-text-center uk-margin-auto" placeholder="тег" [formControl]="tagInput">
        <button class="uk-button uk-button-default" (click)="handleSendPost()" style="overflow: hidden;">
            Відправити
        </button>
    </div>
</div>
<!-- (keydown.enter)="handleSendPost()" -->
