<agm-map 
    [latitude]="initialPlace?.latitude" 
    [longitude]="initialPlace?.longitude" 
    [zoom]="zoom"
    [backgroundColor]="'black'"
    [style]="mapStyle"
    (zoomChange)="handleZoomChange($event)"
    (centerChange)="handleCenterChange($event)"
    (mapClick)="handleMapClick($event)">
    <agm-marker
        [zIndex]="100"
        [latitude]="currentMarker?.latitude"
        [longitude]="currentMarker?.longitude"
        [iconUrl] ="
        {
          url: './assets/selected-point.png',
          scaledSize: {
              width: 30,
              height: 30
          }
        }">
    </agm-marker>

    <agm-marker
      *ngFor="let marker of markers; trackBy: trackById"
      [latitude]="marker.latitude"
      [longitude]="marker.longitude"
      [label]="marker.label"
      [opacity]="0.5"
      [iconUrl] ="
      {
        url: './assets/point.png',
        scaledSize: {
            width: 30,
            height: 30
        }
      }"
      (markerClick)="onMarkerSelect($event, infoWindow, marker)">
      <agm-info-window #infoWindow>
        <div fxLayout="column" fxLayoutAlign="space-between" class="message-container">
          {{ marker?.posts?.length }} записи
          <!-- <span class="message" *ngFor="let post of marker.posts">{{ post.message }}</span>         -->
        </div>
      </agm-info-window>
    </agm-marker>

    <!-- <agm-circle 
      [latitude]="currentCenter?.latitude" 
      [longitude]="currentCenter?.longitude" 
      [radius]="20000/zoom"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
    </agm-circle> -->
</agm-map>
<app-marker-info class="selected-marker-container" [marker]="currentMarker"></app-marker-info>

<mat-form-field class="tag-dropdown">
  <mat-label>Фільтр за тегами</mat-label>
  <mat-select panelClass="example-panel-custom" (selectionChange)="onTagSelectionChange($event)"  multiple>
    <!-- <div *ngIf="selectedItems.length" class="clear-selection pointer" (click)="unselectAllTags()">Зняти усе</div> -->
    <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag.tag }}</mat-option>
  </mat-select>
</mat-form-field>
