agm-map { 
    height: 100%; 
}

::ng-deep .message-container {
    display: flex;
    flex-direction: column;
    .message {
        border: 1px solid black;
        padding: 4px;
    }
}

::ng-deep .gm-style {
    //cursor: url('./../../../assets/map-cursor.cur') !important;

    a {
        img {
            visibility: hidden;
        }
    }
}

::ng-deep .gmnoprint {
    visibility: hidden;
}

::ng-deep .selected-marker-container {
    position: relative;
    top: -50px;
}