<agm-map 
    [latitude]="initialPlace?.latitude" 
    [longitude]="initialPlace?.longitude" 
    [zoom]="10"
    [backgroundColor]="'black'"
    (centerChange)="handleCenterChange($event)"
    (mapClick)="handleMapClick($event)">
    <agm-marker
        [zIndex]="100"
        [latitude]="currentMarker?.latitude"
        [longitude]="currentMarker?.longitude">
    </agm-marker>
    <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.latitude"
        [longitude]="marker.longitude"
        [label]="marker.label"
        [opacity]="0.5"
        (markerClick)="onMarkerSelect($event, infoWindow, marker)">
        <agm-info-window #infoWindow>            
        </agm-info-window>
    </agm-marker>

    <agm-circle [latitude]="currentMarker?.latitude + 0.003" [longitude]="currentMarker?.longitude" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
    </agm-circle>
</agm-map>

<!-- [iconUrl] ="
  {
    url: m.isClicked ? './assets/images/car.svg' : './assets/images/bike.svg',
    scaledSize: {
        width: 40,
        height: 60
    } -->