<app-input-text class="uk-margin" text="Ключове слово" [formControl]="keyword"></app-input-text>

<div class="list-container">
    <table class="uk-table uk-table-responsive uk-table-divider uk-table-hover uk-table-small uk-table-striped">
        <thead>
            <tr>
                <!-- <th class="uk-text-center@m">Ідентифікатор запису</th> -->
                <th class="">Локація</th>
                <th class="">Запис</th>
                <th class=""><span class="d-flex">Вподобайки<img class="uk-margin-left filter pointer" [ngClass]="{'active': orderByLikes}" (click)="sortBy(true, null)" src="assets/icons/filter.svg"></span></th>
                <th class=""><span class="d-flex" style="min-width: 180px;" >Дата створення<img class="uk-margin-left filter pointer" [class.active]="orderByDate" (click)="sortBy(null, true)" src="assets/icons/filter.svg"></span></th>
                <th class="" style="width: 20px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userPosts">
                <!-- <td class="uk-text-center@m">{{ item?.id }}</td> -->
                <td class="">{{ item?.location }}</td>
                <td class="">{{ item?.message }}</td>
                <td class="">{{ item?.timesLiked }}</td>
                <td class="">{{ item?.creationDate | date:'HH:mm dd-MM-yyyy' }}</td>
                <td class=""><span class="pointer" style="color: red;" uk-icon="close" (click)="deletePost(item)"></span></td>
            </tr>
        </tbody>
    </table>
</div>

