<table class="uk-table uk-table-responsive uk-table-divider uk-table-hover uk-table-small uk-table-striped">
    <thead>
        <tr>
            <th class="uk-text-center@m">Ідентифікатор запису</th>
            <th class="">Локація</th>
            <th class="">Запис</th>
            <th class="">Вподобайки</th>
            <th class="">Дизлайки</th>
            <th class="">Дата створення</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userPosts">
            <td class="uk-text-center@m">{{ item?.id }}</td>
            <td class="">{{ item?.name }}</td>
            <td class="">{{ item?.message }}</td>
            <td class="">{{ 1 }}</td>
            <td class="">{{ 1 }}</td>
            <td class="">{{ item?.creationDate | date:'HH:mm dd-MM-yyyy' }}</td>
        </tr>
    </tbody>
</table>
