<div class="uk-flex" style="min-width: 900px;">
    <div class="uk-width-1-2 uk-flex uk-flex-column" style="justify-content: space-evenly;">

        <div class="pointer uk-align-center">
            <input type="file" [ngStyle]="{'display': 'none'}" #input accept="image/jpeg,image/png,image/gif" (change)="handleUploadAvatar(input.files)">
            <img (click)="input.click()"
                class="uk-border-circle uk-align-center uk-height-max-small uk-overlay-hover avatar-image"
                src="{{user?.avatar ? 'data:image/jpg;base64,' + user?.avatar : 'assets/default-avatar.png'}}" 
                alt="avatar">
        </div>

        <div *ngIf="user?.editable || true">
            <button class="uk-button uk-button-default uk-align-center" 
                type="button" 
                uk-toggle="target: #modal-change-password">
                Змінити пароль
            </button>
            <button class="uk-button uk-button-primary uk-align-center" 
                type="button"
                [disabled]="userForm.invalid"
                (click)="saveChanges()">
                Зберегти зміни
            </button>
        </div>
    </div>
    <div class="uk-width-1-2">
        <form [formGroup]="userForm">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <b><app-label for="login" text="Ім'я"></app-label></b>
                    <app-input-text formControlName="username" [autofocus]="true"></app-input-text>
                </div>
                <div class="uk-margin">
                    <b><app-label for="email" text="Емейл"></app-label></b>
                    <app-input-text formControlName="email" [autofocus]="true"></app-input-text>
                </div>
                <div class="uk-margin">
                    <b><app-label for="phone" text="Телефон"></app-label></b>
                    <app-input-text formControlName="phone" [autofocus]="true"></app-input-text>
                </div>
                <div class="uk-margin">
                    <b><app-label for="country" text="Країна"></app-label></b>
                    <app-dropdown formControlName="country" [options]="dropdownCountries"></app-dropdown>
                </div>
                <div class="uk-margin">
                    <b><app-label for="gender" text="Стать"></app-label></b>
                    <app-dropdown formControlName="gender" [options]="dropdownGenders"></app-dropdown>
                </div>
                <div class="uk-margin">
                    <span><b>Дата реєстрації:</b></span>
                    <span class="uk-margin-left">{{ user?.registrationDate | date: 'dd-MM-yyyy' }}</span>
                </div>
                <div class="uk-margin">
                    <span><b>Створено записів:</b></span>
                    <span class="uk-margin-left">{{ user?.postsNumber }}</span>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div id="modal-change-password" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">
            Зміна паролю
            <span class="icon uk-align-right uk-modal-close uk-icon-link pointer" uk-icon="icon: close"></span>
        </h2>
        <form [formGroup]="changePasswordForm">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <app-label for="password" text="Старий пароль"></app-label>
                    <app-input-password formControlName="oldPassword"></app-input-password>
                </div>
                <div class="uk-margin">
                    <app-label for="password" text="Новий пароль"></app-label>
                    <app-input-password formControlName="newPassword"></app-input-password>
                </div>
            </fieldset>
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" 
                [disabled]="changePasswordForm.invalid" 
                type="button"
                (click)="changePassword()">
                Зберегти
            </button>
        </p>
    </div>
</div>