@import '../../../styles/variables';

.uk-form-custom input[type="file"] {
    font-size: 0;
}

.avatar-image {
    border: 1px solid darkorange;
    width: 150px;
    height: 150px;
    transition: box-shadow .3s;
}

.avatar-image:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}