
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary: mat-palette($mat-indigo);
$project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$project-theme: mat-light-theme($project-primary, $project-accent, $project-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-theme);


// 1. Your custom variables and variable overwrites.
@import 'variables';
@import 'theme';

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@import 'mixins';
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";
//@import 'custom';


app-layout, app-layout-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header {
    background-color: $main-theme-color;
    padding: 1rem;
}

app-header * {
    color: $main-background-color;
    margin: 0;
}

main {
    background-color: $main-background-color;
    flex: auto;
    padding: 1rem !important;
}

app-footer {
    background-color: #242729;
    text-align: center;
}

app-footer * {
    color: #BBB;
    margin: 0;
}

input.ng-dirty.ng-valid,
input.ng-touched.ng-valid,
select.ng-dirty.ng-valid,
select.ng-touched.ng-valid,
textarea.ng-dirty.ng-valid,
textarea.ng-touched.ng-valid,
.ng-dirty.ng-valid > input,
.ng-touched.ng-valid > input,
.ng-dirty.ng-valid > select,
.ng-touched.ng-valid > select,
.ng-dirty.ng-valid > textarea,
.ng-touched.ng-valid > textarea {
    background-color: #EDFBF6;
    border: 0.05rem solid #32D296;
    color: #32D296;
}

input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid,
select.ng-dirty.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-dirty.ng-invalid,
textarea.ng-touched.ng-invalid,
.ng-dirty.ng-invalid > input,
.ng-touched.ng-invalid > input,
.ng-dirty.ng-invalid > select,
.ng-touched.ng-invalid > select,
.ng-dirty.ng-invalid > textarea,
.ng-touched.ng-invalid > textarea {
    background-color: #FEF4F6;
    border: 0.05rem solid #F0506E;
    color: #F0506E;
}

input:disabled,
select:disabled,
textarea:disabled,
:disabled > input,
:disabled > select,
:disabled > textarea {
    background-color: #F8F8F8 !important;
    border-color: #E5E5E5 !important;
    color: #999 !important;
}

.icon {
    vertical-align: text-bottom;
}

.nav {
    border: 1px solid #DDD;
}

.nav-active * {
    color: #000;
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.overflow-auto {
    overflow: auto;
}

.d-flex {
    display: flex;
}

.map-cursor {
    //cursor: url('/assets/cursor.gif');
    cursor: url('/assets/cursor.png');
    //cursor: url('/assets/map-cursor.cur');
    //cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
