<div class="map-cursor" uk-grid>
    <div class="uk-width-2-3">
        <div class="map uk-margin">
            <app-custom-map
                [markers]="markersOnMap"
                [zoom]="mapZoom$ | async"
                [currentMarker]="selectedMarker"
                [initialPlace]="initialPlace"
                (centerChange)="handleCenterChange($event)"
                (zoomChange)="handleZoomChange($event)"
                (selectMarker)="handleMarkerSelect($event)">
            </app-custom-map>
        </div>
        <div >
            <app-post-creator
                [place]="selectedMarker"
                (sendPost)="handleSendPost($event)">
            </app-post-creator>
        </div>
    </div>
    <div class="uk-width-1-3">
        <button uk-toggle="target: #recommendation-modal" 
            type="button"
            (click)="getRecommendations()"
            class="uk-button uk-button-primary uk-border-pill uk-text-bold" 
            style="width: 100%;">
            Переглянути рекомендації
        </button>
        <div class="overflow-auto posts-container uk-padding-small uk-margin-top">
            <app-post-small-view 
                *ngFor="let post of selectedMarker?.posts" 
                [post]="post"
                (deletePost)="handleDeletePost(post)"
                (toggleLikePost)="handleToggleLikePost(post)">
            </app-post-small-view>
            <div class="uk-text-center" *ngIf="!selectedMarker?.posts">Тут ще не має записів</div>
        </div>
    </div>

</div>

<!-- Модальное окно -->
<div id="recommendation-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Рекомендації</h2>
        <div class="uk-flex uk-flex-around">
            <div *ngIf="!recommendations.length && isRecommendationsLoad">
                <img src="/assets/spinner.gif" >
            </div>
            <div *ngIf="!recommendations.length && !isRecommendationsLoad">
                Місць поруч не знайдено!
            </div>
            <div *ngFor="let recommendation of recommendations"
                (click)="selectRecommendation(recommendation)"
                class="uk-modal-close place-card pointer uk-card uk-card-small uk-card-secondary uk-margin-right">
                <div class="uk-card-media-top uk-text-center">
                    <img [src]="recommendation.photoLink" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{ recommendation.name }}</h3>
                    <p><span class="uk-text-capitalize">{{ recommendation.type }}</span> {{ recommendation.distance }} м</p>
                    <p>{{ recommendation.address }}</p>
                </div>
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Закрити</button>
        </p>
    </div>
</div>