<div class="" uk-grid>
    <div class="uk-width-2-3">
        <div class="map uk-margin">
            <app-custom-map
                [markers]="markersOnMap"
                [zoom]="mapZoom$ | async"
                [currentMarker]="selectedMarker"
                [initialPlace]="initialPlace"
                (centerChange)="handleCenterChange($event)"
                (zoomChange)="handleZoomChange($event)"
                (selectMarker)="handleMarkerSelect($event)">
            </app-custom-map>
        </div>
        <div >
            <app-post-creator
                (sendPost)="handleSendPost($event)">
            </app-post-creator>
        </div>
    </div>
    <div class="uk-width-1-3 overflow-auto posts-container uk-padding-small">
        <app-post-small-view 
            *ngFor="let post of selectedMarker?.posts" 
            [post]="post"
            (deletePost)="handleDeletePost(post)"
            (toggleLikePost)="handleToggleLikePost(post)">
        </app-post-small-view>
        <div class="uk-text-center" *ngIf="!selectedMarker?.posts">Тут ще не має записів</div>
    </div>
</div>