.map {
    height: 359px;
}

.posts-container {
    max-height: 485px;
    .post-card {

    }
}

.place-card {
    width: min-content;
    min-width: 170px;
}

.place-card img {
    height: 200px;
    object-fit: cover;
}

.place-card:hover {
    background-color: gainsboro;
}

.uk-modal-dialog {
    width: fit-content;
    min-width: 600px;
}