<article class="uk-article">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="assets/logo.png" width="80" height="80" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-article-title"><a class="uk-link-reset">Веб-сервіс географічних записів</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider">
                <li><a>Дипломна робота</a></li>
            </ul>
        </div>
    </header>
    <div class="uk-text-lead">
        <p>
            Веб-застосунок покликаний для того, щоб швидко та зручно ділитися інформацією про різні місця, 
            а також інтерактивно шукати існуючі записи. Розвиток сервісу орієнтований на створення можливойстей схожих
            до соціальних мереж з метою сприяння спілкуванню та обміном інформаціє між людьми.
        </p>
        <p>
            Даний веб-сервіс був створений студентом групи <b>ІП-61 Денисенком Марком</b> під керівництвом <b>Недашківського Євгена.</b>
        </p>
    </div>
    <p>Застосунок знаходиться у відкритому доступі та може бути використаний для власних цілей за умов збереження авторських прав.
        Посилання на репозиторій <a href="https://github.com/mark-denysenko/TagPoint" class="uk-icon-button  uk-margin-small-left" uk-icon="github"></a>
    </p>
    <span>
        Контактна інформація:
        <a href="https://www.linkedin.com/in/mark-denysenko-597074163/" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>
        <a href="mailto:mark.denyssenko@gmail.com" class="uk-icon-button" uk-icon="mail"></a>
    </span>
</article>